@inherits LayoutComponentBase
@using BlazorForum.Pages.Components.Google

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <section class="top-row px-4 auth">
        <LoginDisplay />
    </section>
    <section class="content px-4">
        @Body
    </section>
    <footer class="blazorforum-footer">
        Powered by <a href="https://blazorforum.net" target="_blank">BlazorForum</a>
    </footer>
</div>
<GoogleAnalytics></GoogleAnalytics>
